* {
  scroll-behavior: smooth;
}

ul:hover li a.link-active {
  color: white;
}

.link-active {
  color: white;
  background: black;
}

ul li a {
  text-decoration: none;
  color: rgba(109, 109, 109, 0.5);
}

body {
  overflow: auto;
}

nav {
  z-index: 3;
}

.button-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  grid-column-start: 2;
  grid-row-start: 4;
}

.button {
  text-decoration: none;
  border: 1px solid white;
  width: 50%;
  background-color: black;
  color: white;
  border-color: white;
  text-align: center;
  padding: 15px 0;
  align-self: center;
  text-wrap: nowrap;
}

.button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  transition: all 0.2s ease-in;
}

.intro-text {
  grid-column-start: 2;
  grid-row-start: 2;
}

.description-top {
  padding-left: 20px;
  /* padding-right: 50px; */
  align-items: flex-start;
  color: white;
  text-align: justify;
}

/* OnCyber Styling */

.space-container {
  display: grid;
  height: calc(100vh - 50px);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  /* align-items: end; */
  padding-left: 20px;
  padding-right: 20px;
}

.spacer-text {
  display: grid;
  padding-top: 20px;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-items: center;
  align-items: center;
}

iframe {
  border-width: 0px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  z-index: 1;
}

.top-gradient {
  position: fixed;
  top: 0;
  height: 15vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 2;
}

.spacer {
  margin-bottom: 80px;
  margin-top: 80px;
}

.end-space {
  display: grid;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
}

/* Curation Styling */

.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  justify-content: center;
}

.flex-item {
  position: relative;
  flex-shrink: 0;
  flex-basis: calc(25% - 2rem);
  min-width: 350px;
  max-width: 400px;
  height: 500px;
}

.flex-item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.listing {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  position: relative;
}

.listing-details-container {
  position: absolute;
  bottom: 12px;
  width: 100%;
  height: 100px;
}

.listing-details {
  height: 100%;
  backdrop-filter: blur(10px);
  margin: 8px;
}

.listing-details .listing-name-price-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  height: 100%;
  white-space: nowrap;
}

.listing-details .listing-name {
  display: grid;
  color: white;
}

.listing-name {
  padding-left: 8px;
}

.listing-price {
  color: white;
  grid-column-start: 2;
  justify-self: end;
  align-self: center;
  padding-right: 8px;
}

hr {
  margin-top: 10px;
}

.art-name {
  align-self: center;
  font-size: 20px;
  padding-top: 6px;
}

.artist-name {
  align-self: center;
  grid-row-start: 2;
  font-size: 15px;
  padding-top: 6px;
}

.title {
  display: grid;
  font-size: 50px;
  color: white;
  align-content: flex-start;
  padding-left: 20px;
  padding-bottom: 40px;
}

.title-exhibition {
  display: grid;
  font-size: 50px;
  color: white;
  align-content: flex-start;
  padding-bottom: 20px;
}

.description {
  padding-top: 20px;
  align-items: flex-start;
  color: white;
  text-align: justify;
}

.btn-container {
  width: 100%;
  cursor: pointer;
  grid-column-start: 2;
  grid-row-start: 3;
  height: 50px;
  padding-top: 20px;
}

a.btn-collect {
  display: grid;
  width: 100%;
  height: 100%;
  color: white;
  align-content: center;
  justify-self: stretch;
  justify-content: center;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: span 2;
  text-decoration: none;
  border-top: 1px solid white;
}

a.btn-collect:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

a.btn-collect.sold {
  color: red;
}

/* Artists images */

.art-image {
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
}

.art-image:hover {
  border: 5px solid white;
  transition: all 0.2s ease-in-out;
}

#andy {
  background-image: url(/images/arch-time/andy.PNG);
}
#beautifool {
  background-image: url(/images/arch-time/beautifool.PNG);
}
#bruno {
  background-image: url(/images/arch-time/bruno.PNG);
}
#ch {
  background-image: url(/images/arch-time/ch.PNG);
}
#clemens {
  background-image: url(/images/arch-time/clemens.PNG);
}
#cmplx {
  background-image: url(/images/arch-time/cmplx.PNG);
}
#dub {
  background-image: url(/images/arch-time/dubhz0.PNG);
}
#ellen {
  background-image: url(/images/arch-time/ellen.PNG);
}
#erik {
  background-image: url(/images/arch-time/erik.PNG);
}
#evan {
  background-image: url(/images/arch-time/evan.PNG);
}
#fawkes {
  background-image: url(/images/arch-time/fawkes.PNG);
}
#graphica {
  background-image: url(/images/arch-time/graphica.PNG);
}
#heather {
  background-image: url(/images/arch-time/heather.PNG);
}
#jordan {
  background-image: url(/images/arch-time/jordan.PNG);
}
#koben {
  background-image: url(/images/arch-time/koben.PNG);
}
#lap {
  background-image: url(/images/arch-time/LAP.PNG);
}
#luigi {
  background-image: url(/images/arch-time/luigi.PNG);
}
#noah {
  background-image: url(/images/arch-time/noah.PNG);
}
#pop {
  background-image: url(/images/arch-time/popszi.PNG);
}
#rich {
  background-image: url(/images/arch-time/rich.PNG);
}
#ryan {
  background-image: url(/images/arch-time/ryan.PNG);
}
#sepp {
  background-image: url(/images/arch-time/sepp.PNG);
}
#sz {
  background-image: url(/images/arch-time/szkandal.PNG);
}
#taimaz {
  background-image: url(/images/arch-time/taimaz.PNG);
}
#uc {
  background-image: url(/images/arch-time/UC.PNG);
}
#vic {
  background-image: url(/images/arch-time/vic.PNG);
}

.inline-link {
  margin-top: 0;
  text-decoration: none;
  background-color: white;
  color: black;
}

.inline-link:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 850px) {
  .title {
    font-size: 30px;
  }

  /* .space-container {
    grid-template-rows: 5vh 50vh 10vh;
  } */
}

/* @media screen and (max-width: 1200px) {
  .flex-item {
    flex-basis: calc(33.333% - 2rem - 32px);
    margin-left: calc(1rem + 16px);
    margin-right: calc(1rem + 16px);
  }
} */

@media screen and (max-width: 600px) {
  nav {
    height: 120px;
  }

  .space-container {
    height: 1080px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
  }

  iframe {
    padding-top: 10px;
    grid-row-start: 3;
    height: 400px;
  }

  .button-container {
    padding-top: 20px;
    padding-bottom: 20px;
    row-gap: 5px;
    height: 50px;
    grid-column-start: 1;
    grid-row-start: 5;
    justify-content: start;
    flex-direction: row;
  }

  .intro-text {
    padding-top: 50px;
    padding-bottom: 20px;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .title {
    padding-bottom: 50px;
    padding-left: 0px;
  }

  .spacer-text {
    grid-row-start: 6;
  }

  .description-top {
    padding-left: 0;
    padding-bottom: 20px;
  }

  .button {
    width: 33%;
    font-size: 10px;
  }

  .top-gradient {
    display: none;
  }
}
