* {
    margin: 0;
    font-family: "Hanken Grotesk";
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

body {
    /* background: linear-gradient(to bottom right, #ffffff, #ff9595, #e82cc9); */
    /* background-color: black; */
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-image: url(./images/manifoldClaims.jpg);
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.main-container {
    display: grid;
    /* background-color: white; */
    grid-column-start: 2;
    grid-template-rows: 150px 50px auto;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(50px);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 80%;
    width: 100%;
    height: auto;
    max-height: 140px;
}

.logo img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.secondaryLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
    background-color: black;
    gap: 80px;
}

.thumbnail {
    display: block;
    width: 50px;
    max-width: 100%;
    height: auto;
}

.thumbnail.x-logo {
    width: 25px;
}

.thumbnail.foundation-logo {
    width: 60px;
}

.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 150px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    row-gap: 10px;
    overflow: auto;
    padding-bottom: 50px;
    /* max-height: calc(100vh - 200px); */
}

.links-container .item {
    display: grid;
    border-radius: 10px;
    grid-template-rows: 7fr 1fr;
}

.links-container .type-a {
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.links-container .item-container {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    gap: 10px;
}

.links-container .item-container .type-b {
    width: 100%;
}

.item {
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
}

#feature {
    background-image: url(/images/scribbles.png);
}

#manifold-claim {
    grid-template-rows: 7fr 2fr;
    background-image: url(/images/manifoldClaims.jpg);
}

#arch-time {
    grid-template-rows: 7fr 2fr;
    background-image: url(/images/archtime.png);
}

#oncyber {
    background-image: url(/images/spaces/Final\ Cover.jpg);
    grid-template-rows: 7fr 2fr;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    background-position: center bottom;
}

#generative {
    background-image: url(/images/generativeArt.png);
    grid-template-rows: 7fr 2fr;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

#about {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    max-width: 800px;
    margin: auto;
}

.light {
    font-weight: 100;
    text-transform: none;
}

.links-container .description {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 800px) {
    .grid-container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-container {
        grid-column-start: 1;
    }
    .links-container .description {
        font-size: 12px;
    }
    #about {
        font-size: 12px;
    }
}