ul:hover li a.link-active {
  color: white;
}

.link-active {
  color: white;
  background: black;
}

ul li a {
  text-decoration: none;
  color: rgba(109, 109, 109, 0.5);
}

body {
  overflow: auto;
}

nav {
  z-index: 2;
}

/* Manifold styling */

.listings-container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10vh 75vh;
}

.art {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-items: center;
}

.listings-container #connect {
  display: grid;
  justify-items: end;
  align-items: start;
  margin-top: 10px;
  grid-column-start: 2;
  grid-row-start: 1;
  /* margin-top: 10px; */
  z-index: 1;
}

@media screen and (max-width: 400px) {
  .listings-container #connect {
    justify-items: center;
  }
}
