* {
  margin: 0;
  padding: 0px 2px 0px;
  font-family: "Hanken Grotesk";
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
}

header {
  width: 100%;
}

body {
  line-height: 1;
  transition: background 300ms ease-in 200ms;
  overflow: hidden;
}

nav {
  width: 75%;
  padding-top: 5px;
  font-size: 40px;
  position: fixed;
  z-index: 1;
}

/* nav:hover a {
  color: rgba(109, 109, 109, 0.8);
} */

ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul:hover li a {
  color: rgba(109, 109, 109, 0.5);
}

footer {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

footer a {
  text-decoration: none;
  color: black;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

#contact a:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in;
}

.grid-container {
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 3.5fr;
  align-items: end;
}

.logo {
  grid-row-start: 2;
}

.link {
  cursor: pointer;
}

.link .comma {
  padding-right: 0.1em;
}

a.link {
  display: flex;
}

.external {
  vertical-align: super;
  padding-left: 0.1em;
  font-size: 0.5em;
}

a.link:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}

.hidden {
  display: none;
}

header a + .hidden {
  display: block;
  color: red;
}
