* {
  margin: 0;
  font-family: "Hanken Grotesk";
  text-transform: uppercase;
  font-weight: bold;
}

header {
  width: 100%;
}

body {
  line-height: 1;
  transition: background 300ms ease-in 200ms;
  overflow: hidden;
}

.grid-container {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr 3fr;
  /* align-items: end; */
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  display: grid;
  padding-top: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.nav-container {
  grid-row-start: 2;
  grid-column-start: 1;
  width: 100%;
  overflow: scroll;
}

.collapsible {
  /* height: 50px; */
  font-size: 20px;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.active,
.collapsible:hover {
  background-color: black;
  color: white;
  transition: 0.2s ease-in-out;
}

.collapsible::after {
  content: "\002B";
  font-weight: bold;
  float: right;
  padding-right: 10px;
  /* margin-left: 5px; */
}

.active::after {
  content: "\2212";
}

.link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.content {
  border-left: 2px solid black;
  line-height: 1.5;
  font-size: 12px;
  height: 200px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.displayed-content {
  display: flex;
  /* border: 1px solid black; */
  grid-row-start: 2;
  grid-column-start: 2;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  justify-content: center;
  overflow: scroll;
}

.art-image {
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
}

.art-image:hover {
  border: 4px solid gray;
  transition: all 0.2s ease-in-out;
}

.flex-item {
  position: relative;
  flex-shrink: 0;
  flex-basis: calc(25% - 2rem);
  min-width: 300px;
  max-width: 300px;
  height: 300px;
}

.flex-item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.listing {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  position: relative;
}

.listing-details-container {
  position: absolute;
  bottom: 12px;
  width: 100%;
  height: 100px;
}

.listing-details {
  height: 100%;
  backdrop-filter: blur(10px);
  margin: 8px;
}

.listing-details .listing-name-price-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  height: 100%;
  white-space: nowrap;
}

.listing-details .listing-name {
  display: grid;
  color: white;
}

.listing-name {
  padding-left: 8px;
}

.listing-price {
  color: white;
  grid-column-start: 2;
  justify-self: end;
  align-self: center;
  padding-right: 8px;
}

a.btn-collect {
  display: grid;
  width: 100%;
  height: 100%;
  color: white;
  align-content: center;
  justify-self: stretch;
  justify-content: center;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: span 2;
  text-decoration: none;
  border-top: 1px solid white;
}

a.btn-collect:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.art-name {
  align-self: center;
  font-size: 20px;
  padding-top: 6px;
}

.artist-name {
  align-self: center;
  grid-row-start: 2;
  font-size: 15px;
  padding-top: 6px;
}

#andy {
  background-image: url(/images/arch-time/andy.PNG);
}

ul {
  list-style: none;
  padding-left: 8px;
}

/* ul:hover li a {
  color: rgba(109, 109, 109, 0.5);
} */

footer {
  display: flex;
  justify-content: space-between;
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  font-size: 15px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid white;
}

footer a {
  text-decoration: none;
  color: white;
}

#contact {
  display: flex;
  width: 100%;
  height: 15px;
  justify-content: space-between;
  align-self: center;
}

.last {
  padding-right: 20px;
}

.first {
  padding-left: 20px;
}

#contact a:hover {
  background-color: white;
  color: black;
  transition: all 0.2s ease-in;
}

.link .comma {
  padding-right: 0.1em;
}

.inline-link-inverted {
  margin-top: 0;
  text-decoration: none;
  background-color: black;
  color: white;
}

.inline-link-inverted:hover {
  background-color: white;
  color: black;
  transition: all 0.2s ease-in;
}

.button-container-inverted {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  /* justify-content: space-around; */
  cursor: pointer;
  grid-column-start: 2;
  grid-row-start: 2;
}

.button-inverted {
  text-decoration: none;
  border: 1px solid black;
  width: 50%;
  background-color: white;
  color: black;
  border-color: black;
  text-align: center;
  padding: 15px 0;
  /* align-self: center; */
  /* text-wrap: nowrap; */
}

.button-inverted:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  transition: all 0.2s ease-in;
}

.external {
  /* content: "\U0000FE0E"; */
  vertical-align: super;
  padding-left: 0.1em;
  font-size: 0.5em;
}

a.link:hover {
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

a.link:active {
  font-style: oblique;
  text-decoration: underline;
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  display: grid;
  justify-content: start;
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 20px;
}

#load1 {
  animation: fadeInOutAnimation 1s;
}
#load2 {
  animation: fadeInOutAnimation 1.5s;
}
#load3 {
  animation: fadeInOutAnimation 2s;
}
#load4 {
  animation: fadeInOutAnimation 2.5s;
}
#load5 {
  animation: fadeInOutAnimation 3s;
}

/* @media screen and (max-width: 900px) {
  nav {
    font-size: 30px;
  }

  footer {
    padding-bottom: 20px;
  }
} */

@media screen and (max-width: 850px) {
  .grid-container {
    height: calc(100vh - 200px);
    grid-template-columns: 100%;
  }

  nav {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
    min-width: 200px;
    width: 80%;
    margin: auto;
    text-align: center;
    height: 400px;
  }

  ul {
    min-width: 250px;
    max-width: 500px;
    font-size: 30px;
    line-height: 30px;
    align-items: end;
  }

  li {
    width: 100%;
  }

  .link {
    border: 1px solid black;
    height: 60px;
    display: flex;
    align-items: center;
  }

  a.link {
    justify-content: center;
  }

  .grid-container .logo {
    padding-top: 30px;
    grid-row-start: 3;
  }

  .about {
    display: grid;
    align-items: end;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 12px;
  }

  .button-container-inverted {
    display: flex;
    flex-direction: row;
    height: 50px;
    column-gap: 10px;
    width: 100%;
    cursor: pointer;
    grid-column-start: 1;
    grid-row-start: 4;
    padding-top: 20px;
  }

  .button-inverted {
    font-size: 12px;
    align-self: center;
  }
}

/* @media screen and (min-width: 850px) {
  nav {
    position: fixed;
  }
} */
